/*================================================================
Style guide
================================================================*/
/*
-------------------------------------
Variables
-------------------------------------
-------------------------------------
-------------------------------------
-------------------------------------
 */

/*Filters: https://codepen.io/sosuke/pen/Pjoqqp*/
/*Filters: https://codepen.io/jumarjuaton/full/mdJYWYq*/
/*================================================================
Variables
================================================================*/
:root {
    --base-color-1: #A61C47;
    --base-color-2: #3363A0;
    --color-grey: #6B6B6B;
    --color-white: #fff;
    --color-balck: #000;
    --transition-1: all 0.3s ease 0s;
    --box-shadow-1: 0 10px 8px rgba(208,208,208,0.5);
    --header-height: 100px;
}
/*================================================================
Header
================================================================*/
body{
    padding-top: var(--header-height);
}
.main-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--color-white);
    box-shadow: var(--box-shadow-1);
    z-index: 1000;
}
.main-header .col{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
}
.logo{
    color: var(--base-color-1);
    font-size: 40px;
    text-decoration: none;
}
/*================================================================
Shopping cart
================================================================*/
.shopping-cart{
    position: relative;
}
.shopping-cart--not-empty .shopping-cart__icon,
.shopping-cart--not-empty .shopping-cart__counter{
    cursor: pointer;
}
.shopping-cart__icon{
    display: block;
    height: 40px;
}
.shopping-cart__counter{
    position: absolute;
    bottom: -10px;
    right: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30px;
    min-height: 30px;
    padding: 5px;
    border-radius: 50%;
    background: var(--base-color-1);
    color: var(--color-white);
}
.shopping-cart__counter:empty{
    display: none;
}
/*================================================================
Checkout
================================================================*/
.checkout{
    position: absolute;
    left: 40px;
    transform: translateX(-100%);
    width: 700px;
    max-width: 90vw;
    padding: 10px;
    opacity: 0;
    pointer-events: none;
    transition: var(--transition-1);
    background: var(--color-white);
    box-shadow: var(--box-shadow-1);
    z-index: 100;
}
.checkout--active{
    opacity: 1;
    pointer-events: all;
}
.checkout ul{
    list-style-type: none;
    padding: 10px;
    margin: 0;
}
.checkout li{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--color-grey);
}
.checkout li:last-child{
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
}
.checkout li > *{
    width: 100px;
    padding: 0 20px;
    border-right: 1px solid var(--color-grey);
}
.checkout li :last-child{
    border-right: none;
}
.checkout .checkout__image{
    object-fit: cover;
    object-position: center;
    padding-left: 0;
}
.checkout .checkout__title{
    flex-grow: 1;
    font-size: 20px;
}
.checkout .checkout__quantity{
    padding: 10px;
    margin-left: 20px;
    border: 1px solid var(--base-color-1);
}
.checkout .checkout__full-sum{
    margin: 0;
    padding: 10px;
    border-top: 1px solid var(--base-color-1);
    text-align: right;
    font-size: 20px;
    font-weight: 600;
}
.checkout .checkout__remove-element{
    width: 30px;
    height: 30px;
    padding: 0;
    margin-left: 20px;
    background-image: url('../img/icon-close.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
/*================================================================
Back drop
================================================================*/
.back-drop{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: var(--color-balck);
    opacity: 0;
    pointer-events: none;
    transition: var(--transition-1);
    z-index: 10;
}
.back-drop--active{
    opacity: 0.5;
    pointer-events: all;
}
/*================================================================
Product list
================================================================*/
.product-list{
    padding: 40px 0;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}
@media all and (min-width: 768px) {
    .product-list{
        padding: 60px 0;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media all and (min-width: 981px) {
    .product-list{
        padding: 5.2vw 0;
    }
}
/*================================================================
Product list
================================================================*/
.product{
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    background: var(--color-white);
    box-shadow: 0 4px 15px rgba(208,208,208,0.5);
}
.product__title{
    font-size: 40px;
    margin: 0 0 10px;
}
.product__image {
    display: block;
    margin: 0 0 10px;
    max-width: 100%;
}
.product__price {
    margin: 0 0 10px;
    color: var(--base-color-1);
    font-size: 20px;
}
.product__button{
    padding: 10px;
    background: var(--base-color-1);
    border: 1px solid var(--base-color-1);
    color: var(--color-white);
    cursor: pointer;
    transition: var(--transition-1);
}
.product__button:hover,
.product__button:active{
    background-color: var(--base-color-2);
    border-color: var(--base-color-2);
}
.product :last-child{
    margin-bottom: 0;
}
.product__quantity{
    padding: 10px;
    margin: auto 0 10px;
    border: 1px solid var(--base-color-1);
    border-radius: 0;
}